body{
  
}

/* .task-description{
  font-family:  'San Francisco', Helvetica, Arial, san-serif;
  font-weight: 1000;
  margin-left: 150px;
} */

.bottom-part {
  margin-top: 20px;
}

.title{
   text-align: center;
   font-family:  'San Francisco', Helvetica, Arial, san-serif;
   font-weight: 1000;
}

.upper-part {
  display: flex;
  flex-direction: row;
}

.bottom-part {
  flex: 1;
}

.box {
  border: 1px solid black;
  margin: 10px;
  /* flex: 1; */
}

.box-2{
  width: 100%;
}

.bottom-part{
  border: 1px solid black;
  margin-top: 5px;
}

.task-description {
  padding: 20px; 
  width: 100%;
  padding: 20px; 
  resize: both; 
  overflow: auto; 
}

.list-item {
  margin-bottom: 10px; 
}

.list {
  padding-left: 20px; 
}